* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 3, 45);
  color: white;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
}
.container {
    margin-top: 20px;
  display: flex;

  width: 100%;
  justify-content: center;
}

#list {
  width: 10%;
}
