* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 3, 45);
  color: white;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
}

.profile {
  width: 50%;
  height: auto;
  background-color: white;
  border: 2px solid white;
  display: flex;
  color: black;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.pic {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 100px;
  border: 1px solid black;
}
